* {
    box-sizing: border-box;
    font-family: Arial;
}


.contenedor{
    background: white;
    display: grid; /*sirve para poder usar los "grids" de CSS y poder asignarle un espacio a cada elemento*/
    grid-template-columns: 25% 75% ; /*sirve par darle  un tamaño a cada columna en tu página"*/
    grid-template-rows: 22% 40% 40%;    

}

.perfil{
    background: white;
    grid-row: 1/1;
    grid-column: 1/1;
    display: block;
    padding: 9% 15% 15% 15%;
    margin-left: 1em;
    box-sizing: content-box;
    box-shadow: 10px 10px 15px #b2bec3;

}

.datosPersonales{
    background: white;
    padding: 10px;
    grid-row: 2/4;
    grid-column: 1/2;
    margin-bottom: 2em;
    margin-left: 1em;
    box-shadow: 10px 10px 15px #b2bec3;

}

/*DISEÑO DE BARRAS DE PROGRESO*/
.contendedorBarra{
    background:whitesmoke;
    border-radius: 32px;
    padding: 1px 1px;
    margin: 10px;
}
.barra1{
    background:#2f3542;
    width: 75%;
    border-radius: 32px;
    text-align: center;
    font-family: arial;
    color: white;
    font-size: 13px;
}
.barra2{
    background:#2f3542;
    width: 40%;
    border-radius: 32px;
    text-align: center;
    font-family: arial;
    color: white;
    font-size: 13px;
}
.barra3{
    background:#2f3542;
    width: 20%;
    border-radius: 32px;
    text-align: center;
    font-family: arial;
    color: white;
    font-size: 13px;
}
.barra4{
    background:#2f3542;
    width: 100%;
    border-radius: 32px;
    text-align: center;
    font-family: arial;
    color: white;
    font-size: 13px;
}
.barra5{
    background:#2f3542;
    width: 50%;
    border-radius: 32px;
    text-align: center;
    font-family: arial;
    color: white;
    font-size: 13px;
}


.trayectoriauno {
    background: white;
    grid-row: 1/3 ;
    padding: 10px;
    margin-right: 1em;
    margin-left: 1em;
    box-shadow: 10px 10px 15px #b2bec3;
 
}

.trayectoriados {
    background: white;
    grid-row: 3/4;
    padding: 10px;
    margin-top: 1em;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 1em;
    box-shadow: 10px 10px 15px #b2bec3;

}


footer {
    font-family: arial;
    text-align: center;
    background: #222f3e;
    color: white;
    padding: 10px 0px 10px 0px;
    
}
footer i:hover {
    border: 1px transparent;

}
.fa-linkedin {
    color: white;
}